:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.login-heading {
  font-weight: 300;
  color: #ff7f50;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
p{
  
  float: left;

}
body { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.containera{
padding: 0px;   
}    
ul {
  top: 0;
  width: 100%;
}
    li{color: #ff0066}
    ul{color: #ff0066}
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      background-color: grey;
      color: #ff7f50;
      font-weight: 600;

    }
    navbar-nav{
      color: #ff7f50 !important;
    }
    a:hover{
      color: #ff7f50
    }

    div.transbox {
  border-style: solid;
  border-width: 1px 1px 1px 20px;
  border-color: #ff7f50;
 margin:30px 50px;
  background-color: #c4ff77;
  display: table;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 2rem;
  overflow: auto;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;

}

.dairesel{

  border-radius: 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.dairesel img {

  display: block;
  min-width: 100%;
  min-height: 100%;
}

.buyut{transition: all .2s ease-in-out;}

.buyut:hover{transform: scale(1.2); }

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h3{
  color: #ff0066;
}
.pempe-renk{
  color: #ff0066;
}
.arenk{
  color: #ff7f50 !important;
}

.navbar-dark .navbar-nav .nav-link{
  color : red;
}
.nav-link.active {
  color: #37c6a7 !important;
}
.nav-link.hover{
  color: #37c6a7 !important;
}
